/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseqseminar -profile test,singularity --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withName: 'STAR_ALIGN' {
        ext.args = '--readFilesCommand zcat'
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = "${projectDir}/assets/samplesheet_seminar.csv"

    // Reference genome
    fasta         = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa'
    gtf           = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.115.gtf'
    transcriptome = '/bio/reference/SacCerR64/Saccharomyces_cerevisiae.R64-1-1.cds.all.fa'
    star_index    = '/bio/reference/SacCerR64/star_index/'
    salmon_index  = '/bio/reference/SacCerR64/salmon_index'
}